{% extends 'shop/base.html' %}

{% block title %}Product list{% endblock %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="{% static 'shop/css/styles.css' %}">
</head>
<body>
    <h1>Видеокарты</h1>
    <div id="products">
        {% for product in products %}
            <div class="product">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>Цена: {{ product.price }} Руб. </p>
                <div class="btn-group">
                <a href="{% url 'add_to_cart' product.id %}" class="btn btn-secondary">Добавить в корзину</a>
                <button class="btn btn-secondary" type="button">Подробнее</button>
            </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}